<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}" />
</head>
<body>
  <main>
    <header>
        <span>{{ config.title }}</span>
      <nav>
        <a href="{{ url_for('index') }}">Hem</a>
        <a href="{{ url_for('projects') }}">Projekt</a>
        <a href="{{ url_for('techniques') }}">Tekniker</a>
        <a href="{{ url_for('search') }}">Sök</a>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div>
        Niklas Nilsson 
        gsm: 0734 296310
      </div>

      <div>
        <a href="http://www.github.com/niklasnson">@github</a>
        <a href="http://www.linkedin.com/niklasnson">@linkedin</a> 
      </div>

      <div>
        sista
      </div>
    </footer>
  </main>
</body>
</html>
