<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css') }}" />
</head>
<body>
  <main>
    <header>
        <span>{{ config.title }}</span>
      <nav>
        <a href="{{ url_for('index') }}">Hem</a>
        <a href="{{ url_for('projects') }}">Projekt</a>
        <a href="{{ url_for('techniques') }}">Tekniker</a>
        <a href="{{ url_for('search') }}">Sök</a>
      </nav>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <div>
        <span>Kontakta mig</span>
        {{ config.lfooter|safe }}
      </div>

      <div>
        <span>Följ mig på</span>
        {% for item in config.urls.items() %}
            <a href="{{ item[1] }}">{{ item[0] }}</a>
        {% endfor %}
      </div>

      <div>
          Running desv v0.8 by jessk378 and nikni292
      </div>
    </footer>
  </main>
</body>
</html>
