{% extends "application.html" %}

{% block content %}
    
    <div class="clearfix">
        {% for project in projects %}
            <a href="project/{{ project.project_no }}">
                <div class="project">
                    <div class="project-inner">
                        <img src="{{ project.small_image }}">
                        <h3>{{ project.project_name }}</h3>
                        <p>{{ project.short_description }}</p>

                    </div>
                    <div class="meta">
                        <ul class="teq">
                            {% for teq in project.techniques_used %}
                                <li>{{ teq }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}
