{% extends "application.html" %}

{% block content %}
 
    <article class="project clearfix"> 

        <header>
            <h1>{{ data.project_name }}</h1>
        </header> 
        <aside>
            <dl>
                <dt>projekt</dt>
                <dd>{{ data.project_name }}</dd>
                <dt>kurs</dt>
                <dd>{{ data.course_id }}</dd>
                <dt>ap</dt>
                <dd>{{ data.academic_credits }}</dd>
                <dt>start datum</dt>
                <dd>{{ data.start_date }}</dd>
                <dt>slut datum</dt>
                <dd>{{ data.end_date }}</dd>
                <dt>länk</dt>
                <dd><a href="{{ data.external_link}}">länk</a></dd>
            </dl>
        </aside>

        <p>
            {{ data.long_description }}
        </p>
    </article>

{% endblock %}



