{% extends "application.html" %}

{% block content %}
  

<section class="search-do">
    <form action="search" method="POST">
        <input name="searchfor" type="text" value="{{ searchfor }}">

        <ul class="teq-list">
            {% for item in all_techniques %}
            <li><input type="checkbox" name="techniques" value="{{ item.lower() }}"{% if item.lower() in sel_techniques %} checked {% endif %}><a href="/techniques#{{ item.lower() }}">{{ item.lower() }}</a></span></li>
            {% endfor %}
        </ul>

    </form>

</section>


{% if data != None %}
    <section class="search-result">
        {% for item in data %}
            {% include "_project.html" %}
        {% endfor %}
    </section>
{% else %}
    <h3>Hittade inga projekt som matchade <span class='unimportant'>'{{ searchfor }}'</span></h3> 
{% endif %}

{% endblock %}

