/* ====================================================================================================

    
                                                html objects 


   ==================================================================================================== */

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.9em;
}

main {
  margin: 0 auto;
  max-width: 64em;
}

header {
  margin: 2em 0;
  padding: 0.5em 0;
  border-bottom: solid 0.3em #eee;
}

header > span {
  font-weight: 600;
}

header > nav {
  float: right;
}

nav a {
  padding-right: 1em;
}

nav a:last-child {
  padding-right: 0 !important;  
}

main {
    display: block;
}

footer {
  margin: 2em 0;
  padding: 0.5em 0;
  border-top: solid 0.3em #eee;
}

footer > div span {
    display: block;
    font-weight: 800;
    padding-bottom: 0.4em;
}

footer > div {
  width: 33.33%;
  float: left;
  color: #949494;
}

footer > div:last-child {
    text-align: right;
    font-size: 0.8em;
    letter-spacing: 0.04em;
}


a {
    color: #4078c0;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.unimportant {
    color: #B0B0B0;
}


article.project-as-list {
    display: inline-block;
    width: 49%;
}

article.project-as-list header {
    background-color: #F9F9F9;
    border-bottom: none;
}

article.project-as-list a {
    color: #000; 
    font-size: 1.2em;
    font-weight: 800;
}


article.project-as-list div.project-container {
    padding: 0;
}

article.project-as-list div.project-container div.content {
    padding: 0;
}

article.project-as-list div.project-container div.content img.image-thumbnail {
    float: left;
    max-width: 5em;
    max-height: auto;
    margin: 0 1em;
    padding: 0;
}


article.project-as-list footer {
    background-color: #F2F2F2;
    border-top: none;
}

article.project, article.about {

}

article.project header, article.about header {
    border-bottom: none;
}


article.project aside, article.about aside { 
    float: right; 
    height: 100%;
    width: 30%;
    background-color: #F2F2F2;
    padding: 0.6em;
    margin-left: 1em;
}

article.project aside h3, article.about aside h3 {
    margin: 0; 
    padding: 0;
    color: #868686;
    text-align: center;
}

article.project div.content, article.about div.content {
    font-size: 1.1em;
    line-height: 1.8em;
}

article.project aside dl, article.about aside dl { 
    line-height: 1.8em;
}

article.project aside dt, article.about aside dl { 
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    width: 100px;
}

article.project aside dt:after, article.about aside dt:after {
    content: ":";
  }

article.project aside dd, article.about aside dd  { 
    margin: 0 0 0 110px;110px
    padding: 0 0 0.5em 0;
}





/* ====================================================================================================

    
                                                search.html


   ==================================================================================================== */
 
section.search-do {
    text-align: center;
}

section.search-do input[type=text]{
    line-height: 26px !important;
    height: 26px !important;
    width: 80%;
}

section.search-do input[type=checkbox]{

}

ul.teq-list {
    padding: 0; 
    margin: 1.6em 0 0 0; 
    list-style: none;

}

ul.teq-list li {
    display: inline-block;
}

ul.teq-list span {
    padding-right: 0.7em;    
}

section.search-result {
    margin: 1.6em 0 0 0; 
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

